BBBStore/core/schema/submitorder/DeploymentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DeploymentStatus" type="DeploymentStatusVO">
		<xs:annotation>
			<xs:documentation>Main root node</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DeploymentStatusVO">
		<xs:sequence>
			<xs:element name="deploymentId" type="xs:string"/>
			<xs:element name="items" type="itemTypes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="itemTypes">
		<xs:list itemType="xs:string">
		</xs:list>
	</xs:simpleType>
</xs:schema>
